body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: azure;
  }

.microsoft-logo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: inherit;
    align-content: center;
    align-items: center;
    place-items: center;
    place-content: center;
    padding-top: 150px;;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.square {
    width: 200px;
    height: 200px;
}

.red{ 
    background-color:#F35325; 
}

.green{ 
    background-color:#81BC06; 
}

.blue{ 
    background-color:#05A6F0; 
}

.yellow{ 
    background-color:#FFBA08; 
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    display: grid;
    height: 300px; 
    place-items: center; 
  }
  
  .grid-item {
    text-align: center; 
    align-self: center;
  }

  .square {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
