body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
}

.animated-button {
    display: block;
    width: 300px;
    padding: 10px 20px;
    margin: 20% auto;
    font-size: 18px;
    color: mintcream;
    background-color: orange;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition-property: background-color;
    transition-duration: 2s;
}

.animated-button:hover {
    background-color: limegreen;
}

.moving-box {
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    position: relative;
    animation: moveAcross 4s infinite alternate;
}

@keyframes moveAcross {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 80vw;
        top: 40vh;
    }
}

.complex-animation {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-color: #2ecc71;
    position: relative;
    animation: complexSequence 5s infinite;
}

@keyframes complexSequence {
    0% {
        transform: translate(0, 0) rotate(0deg);
        background-color: #2ecc71;
    }
    25% {
        transform: translate(100px, 50px) rotate(45deg);
        background-color: #f1c40f;
    }
    50% {
        transform: translate(200px, -50px) rotate(90deg);
        background-color: #e67e22;
    }
    75% {
        transform: translate(100px, -100px) rotate(135deg);
        background-color: #e74c3c;
    }
    100% {
        transform: translate(0, 0) rotate(180deg);
        background-color: #2ecc71;
    }
}
